.vs/
LearnSharp.BasicKnowledge/bin/
LearnSharp.BasicKnowledge/obj/
LearnSharp.CustomInterface/obj/
LearnSharp.CustomInterface/bin/
HelloWorld/bin/
HelloWorld/obj/
LearnSharp.CustomDelegate/obj/
LearnSharp.CustomDelegate/bin/
LearnSharp.ChainDelegate/bin/Debug/LearnSharp.ChainDelegate.exe
LearnSharp.ChainDelegate/bin/
LearnSharp.ChainDelegate/obj/
LearnSharp.CustomEvent/bin/
LearnSharp.CustomEvent/obj/
LearnSharp.CustomType/bin/
LearnSharp.CustomType/obj/
